.root {
  font-family: 'Quattrocento Sans', Arial, Helvetica, sans-serif;
  font-size: 1.025rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 32px;
  margin: 0 auto;
}

.slideToggleTrigger {
  cursor: pointer;
  font-size: 1.15rem;
  margin-top: 0;
}

.slideToggleTrigger:hover {
  text-decoration: underline;
}

.form {
  margin-bottom: 16px;
}

.fieldset {
  border: none;
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
}

.fieldsetDisabled * {
  cursor: not-allowed;
  opacity: 0.7;
}

.input {
  font-family: 'Quattrocento Sans', Arial, Helvetica, sans-serif;
  font-size: 1.025rem;
  padding: 8px 12px;
  border: 1px solid #5f5f5f;
  border-radius: 3px;
  width: 100%;
}

.button {
  font-family: 'Quattrocento Sans', Arial, Helvetica, sans-serif;
  background-color: var(--button-color);
  color: var(--button-text-color);
  border: 1px solid var(--button-border-color);
  border-radius: 3px;
  font-size: 1.025rem;
  padding: 8px 12px;
  margin-top: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--button-hover-color)
}

.buttonDisabled {
  background-color: #7c8388;
  border-color: #4b5053;
  opacity: 0.7;
  cursor: not-allowed;
}

.buttonDisabled:hover {
  background-color: #7c8388;
}

@media (min-width: 601px) {
  .root {
    max-width: 90%;
    margin: unset;
  }

  .fieldset {
    max-width: 80%;
  }
}

@media (min-width: 769px) {
  .root {
    max-width: 75%;
  }

  .fieldset {
    max-width: 70%;
  }

  .root, .input, .button {
    font-size: 1.125rem;
  }
}

@media (min-width: 1025px) {
  .root {
    max-width: 60%;
  }
  .fieldset {
    max-width: 60%;
  }
}

@media (min-width: 1201px) {
  .root {
    max-width: 50%;
  }

  .fieldset {
    max-width: 50%;
  }
}
