.root {
  width: 100%;
  font-family: 'Quattrocento Sans', Arial, Helvetica, sans-serif;
}

.noGames {
  font-size: 1.025rem;
  margin: 0 auto;
  text-align: center;
}

.loading {
  margin: 0 auto;
}

.game {
  margin: 16px auto 8px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
}

.game:first-of-type {
  margin-top: 0;
}

.game:last-of-type {
  margin-bottom: 0;
}

.gameHeader {
  font-family: 'Quattrocento Sans', Arial, Helvetica, sans-serif;
  margin-top: 0px;
}

.headerLink {
  text-decoration: none;
  color: #000036;
}

.gameDescription {
  margin-bottom: 0;
}

@media (min-width: 769px) {
  .noGames {
    font-size: 1.125rem;
  }
}
