.root {
  width: 100%;
  font-family: 'Quattrocento Sans', Arial, Helvetica, sans-serif;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
}

.noGames {
  font-size: 1.15rem;
  font-weight: 700;
}

.games {
  margin: 0 auto;
}

.loading {
  margin: 0 auto;
}

@media (min-width: 769px) {
  .games {
    max-width: 75%;
    margin: unset
  }
}

@media (min-width: 1025px) {
  .games {
    max-width: 60%;
  }
}

@media (min-width: 1201px) {
  .games {
    max-width: 50%;
  }
}
