.root {
  height: 100vh;
  background-color: #000;
  display: grid;
}

.errorMessage {
  margin: 64px auto 0;
  color: #ff0000;
}

.container {
  display: grid;
  margin: auto;
}

.button {
  margin: auto;
}
