.root {
  font-family: 'Quattrocento Sans', Arial, Helvetica, sans-serif;
  background-color: var(--scheme-color);
  color: var(--text-color);
  border-radius: 8px;
  padding: 8px;
  margin: 0 auto;
}

.root:hover,
.root:hover .trigger,
.root:hover .form input,
.root:hover .form button {
  background-color: var(--hover-color);
}

.trigger {
  font-family: 'Quattrocento Sans', Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  background-color: var(--scheme-color);
  color: var(--text-color);
  width: 100%;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  display: inline-flex;
  justify-content: space-between;
  align-items: stretch;
  text-align: left;
}

.form {
  margin-block-start: 12px;
  margin-block-end: 11px;
}

.title {
  font-size: 1.25rem;
}

.fa {
  margin: auto 0;
  font-size: 1rem;
}

.fa:hover {
  color: var(--scheme-color-lightest);
}

.collapsible {
  border: 1px solid var(--border-color);
}

@media (min-width: 768px) {
  .root {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .root {
    width: 50%;
  }
}
