.root {
  font-family: 'Quattrocento Sans', Arial, Helvetica, sans-serif;
  background-color: var(--main-color);
  border-bottom: 1px solid var(--border-color);
}

.root:hover {
  background-color: var(--hover-color);
}

.headerContainer {
  display: grid;
  grid-template-columns: 4fr 1fr;
  border-bottom: 1px solid var(--border-color);
}

.button {
  background: none;
  border: none;
  border-right: 1px solid var(--border-color);
  text-align: left;
  cursor: pointer;
  padding: 32px 0 32px 24px;
}

.fa {
  color: var(--title-text-color);
}

.icon {
  display: inline-block;
}

.destroyIcon {
  margin-right: 8px;
}

.quantity {
  color: var(--title-text-color);
  margin: auto 0;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
}

.quantityContent {
  margin: auto;
}

.icon {
  padding: 4px;
  cursor: pointer;
}

.icon:hover .fa {
  color: var(--body-background-color)
}

.description {
  display: inline-block;
  font-family: 'Quattrocento Sans', Arial, Helvetica, sans-serif;
  font-size: 1.025rem;
  color: var(--title-text-color);
  margin: 0;
}

.descriptionCanEdit {
  margin-left: 12px;
}

.collapsible {
  background-color: var(--body-background-color);
  color: var(--body-text-color);
  border-bottom-color: var(--border-color);
}

.notes {
  padding: 24px;
  margin: 0;
}
