.root {
  min-height: 100vh;
  background-color: #f0f0f0;
}

.title {
  font-family: 'Cinzel Decorative', sans-serif;
}

.hr {
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 32px;
}

.container {
  padding: 24px 0;
  margin: 0 auto; 
  max-width: 90%;
}

.titleContainer {
  padding-top: 64px;
}

@media (min-width: 769px) {
  .container {
    padding: 64px 0;
  }

  .titleContainer {
    padding-top: 64px;
  }
}

@media (min-width: 1201px) {
  .container {
    padding: 128px 0;
  }
}
